In [2]:
import numpy as np
import pandas as pd

In [2]:
#Create a series using list = [6,7,8,9,2,3,4,5] and print the output series as the square of each number in the list.
#Hint: If input series = 1,2,3 the output series should be 1,4,9
#Hint: First create the series and then using apply and lambda find the output series.
series_1 = pd.Series([6,7,8,9,2,3,4,5])
series_2 = series_1.apply(lambda x: x**2)
print(series_1)
print(series_2)

0    6
1    7
2    8
3    9
4    2
5    3
6    4
7    5
dtype: int64
0    36
1    49
2    64
3    81
4     4
5     9
6    16
7    25
dtype: int64

In [6]:
df = pd.read_csv('https://query.data.world/s/vBDCsoHCytUSLKkLvq851k2b8JOCkF')
print(df.describe())
print(df.columns)
print(df.shape)

Index(['X', 'Y', 'month', 'day', 'FFMC', 'DMC', 'DC', 'ISI', 'temp', 'RH',
       'wind', 'rain', 'area'],
      dtype='object')
(517, 13)

In [8]:
## Set Index in Dataframe
# Using set_index command set the column 'X' as the index of the dataset and then print the head of the dataset.
# Hint: Use inplace = False 
df_2 = df.set_index('X', inplace = False)
print(df_2.head())

   Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
X
7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
7  4   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
8  6   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
8  6   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0

In [9]:
## Sorting Dataframes
# Sort the dataframe on 'month' and 'day' in ascending order in the dataframe 'df'.
df_2 = df.sort_values(by=['month', 'day'], ascending = True)
print(df_2.head(20))

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
241  4  4   apr  fri  83.0   23.3   85.3   2.3  16.7  20   3.1   0.0   0.00
442  6  5   apr  mon  87.9   24.9   41.6   3.7  10.9  64   3.1   0.0   3.35
19   6  4   apr  sat  86.3   27.4   97.1   5.1   9.3  44   4.5   0.0   0.00
239  7  5   apr  sun  81.9    3.0    7.9   3.5  13.4  75   1.8   0.0   0.00
469  6  3   apr  sun  91.0   14.6   25.6  12.3  13.7  33   9.4   0.0  61.13
470  5  4   apr  sun  91.0   14.6   25.6  12.3  17.6  27   5.8   0.0   0.00
176  6  5   apr  thu  81.5    9.1   55.2   2.7   5.8  54   5.8   0.0   4.61
196  6  5   apr  thu  81.5    9.1   55.2   2.7   5.8  54   5.8   0.0  10.93
240  6  3   apr  wed  88.0   17.2   43.5   3.8  15.2  51   2.7   0.0   0.00
12   6  5   aug  fri  63.5   70.8  665.3   0.8  17.0  72   6.7   0.0   0.00
78   1  2   aug  fri  90.1  108.0  529.8  12.5  14.7  66   2.7   0.0   0.00
142  8  6   aug  fri  90.1  108.0  529.8  12.5  21.2  51   8.9   0.0   0.61
184  8  6   aug  fri  93.9  135.7  586.7  15.1  20.8  34   4.9   0.0   6.96
195  2  5   aug  fri  93.9  135.7  586.7  15.1  23.5  36   5.4   0.0  10.02
261  3  4   aug  fri  91.6  112.4  573.0   8.9  11.2  84   7.6   0.0   3.30
262  2  4   aug  fri  91.6  112.4  573.0   8.9  21.4  42   3.1   0.0   4.25
263  6  3   aug  fri  91.1  141.1  629.1   7.1  19.3  39   3.6   0.0   1.56
264  4  4   aug  fri  94.3  167.6  684.4  13.0  21.8  53   3.1   0.0   6.54
388  6  4   aug  fri  94.8  227.0  706.7  12.0  23.3  34   3.1   0.0  28.74
389  7  4   aug  fri  94.8  227.0  706.7  12.0  23.3  34   3.1   0.0   0.00

In [11]:
#Print only the even numbers of rows of the dataframe 'df'.
df = pd.read_csv('https://query.data.world/s/vBDCsoHCytUSLKkLvq851k2b8JOCkF')
df_2 = df[1::2]
print(df_2.head(20))

    X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain  area
1   7  4   oct  tue  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0   0.0
3   8  6   mar  fri  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.0
5   8  6   aug  sun  92.3   85.3  488.0  14.7  22.2  29   5.4   0.0   0.0
7   8  6   aug  mon  91.5  145.4  608.2  10.7   8.0  86   2.2   0.0   0.0
9   7  5   sep  sat  92.5   88.0  698.6   7.1  22.8  40   4.0   0.0   0.0
11  7  5   sep  sat  92.8   73.2  713.0  22.6  19.3  38   4.0   0.0   0.0
13  6  5   sep  mon  90.9  126.5  686.5   7.0  21.3  42   2.2   0.0   0.0
15  6  5   sep  fri  93.3  141.2  713.9  13.9  22.9  44   5.4   0.0   0.0
17  8  5   oct  mon  84.9   32.8  664.2   3.0  16.7  47   4.9   0.0   0.0
19  6  4   apr  sat  86.3   27.4   97.1   5.1   9.3  44   4.5   0.0   0.0
21  5  4   sep  mon  91.8   78.5  724.3   9.2  19.1  38   2.7   0.0   0.0
23  7  4   aug  sat  90.2  110.9  537.4   6.2  19.5  43   5.8   0.0   0.0
25  7  4   aug  sun  91.4  142.4  601.4  10.6  16.3  60   5.4   0.0   0.0
27  7  4   sep  mon  90.9  126.5  686.5   7.0  19.4  48   1.3   0.0   0.0
29  6  3   sep  sun  93.5  149.3  728.6   8.1  22.8  39   3.6   0.0   0.0
31  6  3   sep  mon  88.6   91.8  709.9   7.1  11.2  78   7.6   0.0   0.0
33  6  3   sep  sun  91.7   75.6  718.3   7.8  17.7  39   3.6   0.0   0.0
35  6  3   sep  tue  90.3   80.7  730.2   6.3  18.2  62   4.5   0.0   0.0
37  7  4   oct  fri  90.0   41.5  682.6   8.7  11.3  60   5.4   0.0   0.0
39  4  4   mar  tue  88.1   25.7   67.6   3.8  14.1  43   2.7   0.0   0.0

In [13]:
#Print out the columns 'month', 'day', 'temp', 'area' from the dataframe 'df'.
df_2 = df[['month', 'day' , 'temp' , 'area']]
print(df_2.head(20))

   month  day  temp  area
0    mar  fri   8.2   0.0
1    oct  tue  18.0   0.0
2    oct  sat  14.6   0.0
3    mar  fri   8.3   0.0
4    mar  sun  11.4   0.0
5    aug  sun  22.2   0.0
6    aug  mon  24.1   0.0
7    aug  mon   8.0   0.0
8    sep  tue  13.1   0.0
9    sep  sat  22.8   0.0
10   sep  sat  17.8   0.0
11   sep  sat  19.3   0.0
12   aug  fri  17.0   0.0
13   sep  mon  21.3   0.0
14   sep  wed  26.4   0.0
15   sep  fri  22.9   0.0
16   mar  sat  15.1   0.0
17   oct  mon  16.7   0.0
18   mar  wed  15.9   0.0
19   apr  sat   9.3   0.0

# Position based indexing using df.iloc

In [36]:
help(pd.DataFrame.iloc)

Help on property:

    Purely integer-location based indexing for selection by position.

    ``.iloc[]`` is primarily integer position based (from ``0`` to
    ``length-1`` of the axis), but may also be used with a boolean
    array.

    Allowed inputs are:

    - An integer, e.g. ``5``.
    - A list or array of integers, e.g. ``[4, 3, 0]``.
    - A slice object with ints, e.g. ``1:7``.
    - A boolean array.
    - A ``callable`` function with one argument (the calling Series, DataFrame
      or Panel) and that returns valid output for indexing (one of the above)

    ``.iloc`` will raise ``IndexError`` if a requested indexer is
    out-of-bounds, except *slice* indexers which allow out-of-bounds
    indexing (this conforms with python/numpy *slice* semantics).

    See more at :ref:`Selection by Position <indexing.integer>`

In [12]:
df.iloc[2, 4]

90.6

In [13]:
df.iloc[2]

X            7
Y            4
month      oct
day        sat
FFMC      90.6
DMC       43.7
DC       686.9
ISI        6.7
temp      14.6
RH          33
wind       1.3
rain         0
area         0
Name: 2, dtype: object

In [18]:
df.iloc[5 :]

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
5    8  6   aug  sun  92.3   85.3  488.0  14.7  22.2  29   5.4   0.0   0.00
6    8  6   aug  mon  92.3   88.9  495.6   8.5  24.1  27   3.1   0.0   0.00
7    8  6   aug  mon  91.5  145.4  608.2  10.7   8.0  86   2.2   0.0   0.00
8    8  6   sep  tue  91.0  129.5  692.6   7.0  13.1  63   5.4   0.0   0.00
9    7  5   sep  sat  92.5   88.0  698.6   7.1  22.8  40   4.0   0.0   0.00
10   7  5   sep  sat  92.5   88.0  698.6   7.1  17.8  51   7.2   0.0   0.00
11   7  5   sep  sat  92.8   73.2  713.0  22.6  19.3  38   4.0   0.0   0.00
12   6  5   aug  fri  63.5   70.8  665.3   0.8  17.0  72   6.7   0.0   0.00
13   6  5   sep  mon  90.9  126.5  686.5   7.0  21.3  42   2.2   0.0   0.00
14   6  5   sep  wed  92.9  133.3  699.6   9.2  26.4  21   4.5   0.0   0.00
15   6  5   sep  fri  93.3  141.2  713.9  13.9  22.9  44   5.4   0.0   0.00
16   5  5   mar  sat  91.7   35.8   80.8   7.8  15.1  27   5.4   0.0   0.00
17   8  5   oct  mon  84.9   32.8  664.2   3.0  16.7  47   4.9   0.0   0.00
18   6  4   mar  wed  89.2   27.9   70.8   6.3  15.9  35   4.0   0.0   0.00
19   6  4   apr  sat  86.3   27.4   97.1   5.1   9.3  44   4.5   0.0   0.00
20   6  4   sep  tue  91.0  129.5  692.6   7.0  18.3  40   2.7   0.0   0.00
21   5  4   sep  mon  91.8   78.5  724.3   9.2  19.1  38   2.7   0.0   0.00
22   7  4   jun  sun  94.3   96.3  200.0  56.1  21.0  44   4.5   0.0   0.00
23   7  4   aug  sat  90.2  110.9  537.4   6.2  19.5  43   5.8   0.0   0.00
24   7  4   aug  sat  93.5  139.4  594.2  20.3  23.7  32   5.8   0.0   0.00
25   7  4   aug  sun  91.4  142.4  601.4  10.6  16.3  60   5.4   0.0   0.00
26   7  4   sep  fri  92.4  117.9  668.0  12.2  19.0  34   5.8   0.0   0.00
27   7  4   sep  mon  90.9  126.5  686.5   7.0  19.4  48   1.3   0.0   0.00
28   6  3   sep  sat  93.4  145.4  721.4   8.1  30.2  24   2.7   0.0   0.00
29   6  3   sep  sun  93.5  149.3  728.6   8.1  22.8  39   3.6   0.0   0.00
30   6  3   sep  fri  94.3   85.1  692.3  15.9  25.4  24   3.6   0.0   0.00
31   6  3   sep  mon  88.6   91.8  709.9   7.1  11.2  78   7.6   0.0   0.00
32   6  3   sep  fri  88.6   69.7  706.8   5.8  20.6  37   1.8   0.0   0.00
33   6  3   sep  sun  91.7   75.6  718.3   7.8  17.7  39   3.6   0.0   0.00
34   6  3   sep  mon  91.8   78.5  724.3   9.2  21.2  32   2.7   0.0   0.00
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...    ...
487  5  4   aug  tue  95.1  141.3  605.8  17.7  26.4  34   3.6   0.0  16.40
488  4  4   aug  tue  95.1  141.3  605.8  17.7  19.4  71   7.6   0.0  46.70
489  4  4   aug  wed  95.1  141.3  605.8  17.7  20.6  58   1.3   0.0   0.00
490  4  4   aug  wed  95.1  141.3  605.8  17.7  28.7  33   4.0   0.0   0.00
491  4  4   aug  thu  95.8  152.0  624.1  13.8  32.4  21   4.5   0.0   0.00
492  1  3   aug  fri  95.9  158.0  633.6  11.3  32.4  27   2.2   0.0   0.00
493  1  3   aug  fri  95.9  158.0  633.6  11.3  27.5  29   4.5   0.0  43.32
494  6  6   aug  sat  96.0  164.0  643.0  14.0  30.8  30   4.9   0.0   8.59
495  6  6   aug  mon  96.2  175.5  661.8  16.8  23.9  42   2.2   0.0   0.00
496  4  5   aug  mon  96.2  175.5  661.8  16.8  32.6  26   3.1   0.0   2.77
497  3  4   aug  tue  96.1  181.1  671.2  14.3  32.3  27   2.2   0.0  14.68
498  6  5   aug  tue  96.1  181.1  671.2  14.3  33.3  26   2.7   0.0  40.54
499  7  5   aug  tue  96.1  181.1  671.2  14.3  27.3  63   4.9   6.4  10.82
500  8  6   aug  tue  96.1  181.1  671.2  14.3  21.6  65   4.9   0.8   0.00
501  7  5   aug  tue  96.1  181.1  671.2  14.3  21.6  65   4.9   0.8   0.00
502  4  4   aug  tue  96.1  181.1  671.2  14.3  20.7  69   4.9   0.4   0.00
503  2  4   aug  wed  94.5  139.4  689.1  20.0  29.2  30   4.9   0.0   1.95
504  4  3   aug  wed  94.5  139.4  689.1  20.0  28.9  29   4.9   0.0  49.59
505  1  2   aug  thu  91.0  163.2  744.4  10.1  26.7  35   1.8   0.0   5.80
506  1  2   aug  fri  91.0  166.9  752.6   7.1  18.5  73   8.5   0.0   0.00
507  2  4   aug  fri  91.0  166.9  752.6   7.1  25.9  41   3.6   0.0   0.00
508  1  2   aug  fri  91.0  166.9  752.6   7.1  25.9  41   3.6   0.0   0.00
509  5  4   aug  fri  91.0  166.9  752.6   7.1  21.1  71   7.6   1.4   2.17
510  6  5   aug  fri  91.0  166.9  752.6   7.1  18.2  62   5.4   0.0   0.43
511  8  6   aug  sun  81.6   56.7  665.6   1.9  27.8  35   2.7   0.0   0.00
512  4  3   aug  sun  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0   6.44
513  2  4   aug  sun  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0  54.29
514  7  4   aug  sun  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  11.16
515  1  4   aug  sat  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0   0.00
516  6  3   nov  tue  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0   0.00

[512 rows x 13 columns]

In [22]:
df.iloc[[3, 7, 8]]
#equally you can do
df.iloc[[3, 7, 8], : ]

   X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain  area
3  8  6   mar  fri  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.0
7  8  6   aug  mon  91.5  145.4  608.2  10.7   8.0  86   2.2   0.0   0.0
8  8  6   sep  tue  91.0  129.5  692.6   7.0  13.1  63   5.4   0.0   0.0

In [23]:
df.iloc[4:8]
# or
df.iloc[4:8, :]

   X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain  area
4  8  6   mar  sun  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0   0.0
5  8  6   aug  sun  92.3   85.3  488.0  14.7  22.2  29   5.4   0.0   0.0
6  8  6   aug  mon  92.3   88.9  495.6   8.5  24.1  27   3.1   0.0   0.0
7  8  6   aug  mon  91.5  145.4  608.2  10.7   8.0  86   2.2   0.0   0.0

In [26]:
#now with column values
df.iloc[ :, 2]

0      mar
1      oct
2      oct
3      mar
4      mar
5      aug
6      aug
7      aug
8      sep
9      sep
10     sep
11     sep
12     aug
13     sep
14     sep
15     sep
16     mar
17     oct
18     mar
19     apr
20     sep
21     sep
22     jun
23     aug
24     aug
25     aug
26     sep
27     sep
28     sep
29     sep
      ...
487    aug
488    aug
489    aug
490    aug
491    aug
492    aug
493    aug
494    aug
495    aug
496    aug
497    aug
498    aug
499    aug
500    aug
501    aug
502    aug
503    aug
504    aug
505    aug
506    aug
507    aug
508    aug
509    aug
510    aug
511    aug
512    aug
513    aug
514    aug
515    aug
516    nov
Name: month, Length: 517, dtype: object

In [28]:
df.iloc[ :, 2:5]

    month  day  FFMC
0     mar  fri  86.2
1     oct  tue  90.6
2     oct  sat  90.6
3     mar  fri  91.7
4     mar  sun  89.3
5     aug  sun  92.3
6     aug  mon  92.3
7     aug  mon  91.5
8     sep  tue  91.0
9     sep  sat  92.5
10    sep  sat  92.5
11    sep  sat  92.8
12    aug  fri  63.5
13    sep  mon  90.9
14    sep  wed  92.9
15    sep  fri  93.3
16    mar  sat  91.7
17    oct  mon  84.9
18    mar  wed  89.2
19    apr  sat  86.3
20    sep  tue  91.0
21    sep  mon  91.8
22    jun  sun  94.3
23    aug  sat  90.2
24    aug  sat  93.5
25    aug  sun  91.4
26    sep  fri  92.4
27    sep  mon  90.9
28    sep  sat  93.4
29    sep  sun  93.5
..    ...  ...   ...
487   aug  tue  95.1
488   aug  tue  95.1
489   aug  wed  95.1
490   aug  wed  95.1
491   aug  thu  95.8
492   aug  fri  95.9
493   aug  fri  95.9
494   aug  sat  96.0
495   aug  mon  96.2
496   aug  mon  96.2
497   aug  tue  96.1
498   aug  tue  96.1
499   aug  tue  96.1
500   aug  tue  96.1
501   aug  tue  96.1
502   aug  tue  96.1
503   aug  wed  94.5
504   aug  wed  94.5
505   aug  thu  91.0
506   aug  fri  91.0
507   aug  fri  91.0
508   aug  fri  91.0
509   aug  fri  91.0
510   aug  fri  91.0
511   aug  sun  81.6
512   aug  sun  81.6
513   aug  sun  81.6
514   aug  sun  81.6
515   aug  sat  94.4
516   nov  tue  79.5

[517 rows x 3 columns]

In [29]:
#select few rows and few column
df.iloc[ 3:10, 2:4]

  month  day
3   mar  fri
4   mar  sun
5   aug  sun
6   aug  mon
7   aug  mon
8   sep  tue
9   sep  sat

In [30]:
df.iloc[ 3:10, [1, 3, 6]]

   Y  day     DC
3  6  fri   77.5
4  6  sun  102.2
5  6  sun  488.0
6  6  mon  495.6
7  6  mon  608.2
8  6  tue  692.6
9  5  sat  698.6

In [35]:
df.iloc[[True, True, False, True, False, False, False, True]]

   X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0   0.0
3  8  6   mar  fri  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.0
7  8  6   aug  mon  91.5  145.4  608.2  10.7   8.0  86   2.2   0.0   0.0

#Using iloc index the dataframe to print all the rows of the columns at index 3,4,5.
#Hint: Use 3,4,5 not 2,3,4

In [42]:
df = pd.read_csv('https://query.data.world/s/vBDCsoHCytUSLKkLvq851k2b8JOCkF')
df_2 = df.iloc[ :, [3,6]]
print(df_2.head(20))

    day  FFMC    DMC
0   fri  86.2   26.2
1   tue  90.6   35.4
2   sat  90.6   43.7
3   fri  91.7   33.3
4   sun  89.3   51.3
5   sun  92.3   85.3
6   mon  92.3   88.9
7   mon  91.5  145.4
8   tue  91.0  129.5
9   sat  92.5   88.0
10  sat  92.5   88.0
11  sat  92.8   73.2
12  fri  63.5   70.8
13  mon  90.9  126.5
14  wed  92.9  133.3
15  fri  93.3  141.2
16  sat  91.7   35.8
17  mon  84.9   32.8
18  wed  89.2   27.9
19  sat  86.3   27.4

# Label based indexing using df.loc

In [37]:
help(pd.DataFrame.loc)

Help on property:

    Access a group of rows and columns by label(s) or a boolean array.

    ``.loc[]`` is primarily label based, but may also be used with a
    boolean array.

    Allowed inputs are:

    - A single label, e.g. ``5`` or ``'a'``, (note that ``5`` is
      interpreted as a *label* of the index, and **never** as an
      integer position along the index).
    - A list or array of labels, e.g. ``['a', 'b', 'c']``.
    - A slice object with labels, e.g. ``'a':'f'``.

      .. warning:: Note that contrary to usual python slices, **both** the
          start and the stop are included

    - A boolean array of the same length as the axis being sliced,
      e.g. ``[True, False, True]``.
    - A ``callable`` function with one argument (the calling Series, DataFrame
      or Panel) and that returns valid output for indexing (one of the above)

    See more at :ref:`Selection by Label <indexing.label>`

    See Also
    --------
    DataFrame.at : Access a single value for a row/column label pair
    DataFrame.iloc : Access group of rows and columns by integer position(s)
    DataFrame.xs : Returns a cross-section (row(s) or column(s)) from the
        Series/DataFrame.
    Series.loc : Access group of values using labels

    Examples
    --------
    **Getting values**

    >>> df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
    ...      index=['cobra', 'viper', 'sidewinder'],
    ...      columns=['max_speed', 'shield'])
    >>> df
                max_speed  shield
    cobra               1       2
    viper               4       5
    sidewinder          7       8

    Single label. Note this returns the row as a Series.

    >>> df.loc['viper']
    max_speed    4
    shield       5
    Name: viper, dtype: int64

    List of labels. Note using ``[[]]`` returns a DataFrame.

    >>> df.loc[['viper', 'sidewinder']]
                max_speed  shield
    viper               4       5
    sidewinder          7       8

    Single label for row and column

    >>> df.loc['cobra', 'shield']
    2

    Slice with labels for row and single label for column. As mentioned
    above, note that both the start and stop of the slice are included.

    >>> df.loc['cobra':'viper', 'max_speed']
    cobra    1
    viper    4
    Name: max_speed, dtype: int64

    Boolean list with the same length as the row axis

    >>> df.loc[[False, False, True]]
                max_speed  shield
    sidewinder          7       8

    Conditional that returns a boolean Series

    >>> df.loc[df['shield'] > 6]
                max_speed  shield
    sidewinder          7       8

    Conditional that returns a boolean Series with column labels specified

    >>> df.loc[df['shield'] > 6, ['max_speed']]
                max_speed
    sidewinder          7

    Callable that returns a boolean Series

    >>> df.loc[lambda df: df['shield'] == 8]
                max_speed  shield
    sidewinder          7       8

    **Setting values**

    Set value for all items matching the list of labels

    >>> df.loc[['viper', 'sidewinder'], ['shield']] = 50
    >>> df
                max_speed  shield
    cobra               1       2
    viper               4      50
    sidewinder          7      50

    Set value for an entire row

    >>> df.loc['cobra'] = 10
    >>> df
                max_speed  shield
    cobra              10      10
    viper               4      50
    sidewinder          7      50

    Set value for an entire column

    >>> df.loc[:, 'max_speed'] = 30
    >>> df
                max_speed  shield
    cobra              30      10
    viper              30      50
    sidewinder         30      50

    Set value for rows matching callable condition

    >>> df.loc[df['shield'] > 35] = 0
    >>> df
                max_speed  shield
    cobra              30      10
    viper               0       0
    sidewinder          0       0

    **Getting values on a DataFrame with an index that has integer labels**

    Another example using integers for the index

    >>> df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
    ...      index=[7, 8, 9], columns=['max_speed', 'shield'])
    >>> df
       max_speed  shield
    7          1       2
    8          4       5
    9          7       8

    Slice with integer labels for rows. As mentioned above, note that both
    the start and stop of the slice are included.

    >>> df.loc[7:9]
       max_speed  shield
    7          1       2
    8          4       5
    9          7       8

    **Getting values with a MultiIndex**

    A number of examples using a DataFrame with a MultiIndex

    >>> tuples = [
    ...    ('cobra', 'mark i'), ('cobra', 'mark ii'),
    ...    ('sidewinder', 'mark i'), ('sidewinder', 'mark ii'),
    ...    ('viper', 'mark ii'), ('viper', 'mark iii')
    ... ]
    >>> index = pd.MultiIndex.from_tuples(tuples)
    >>> values = [[12, 2], [0, 4], [10, 20],
    ...         [1, 4], [7, 1], [16, 36]]
    >>> df = pd.DataFrame(values, columns=['max_speed', 'shield'], index=index)
    >>> df
                         max_speed  shield
    cobra      mark i           12       2
               mark ii           0       4
    sidewinder mark i           10      20
               mark ii           1       4
    viper      mark ii           7       1
               mark iii         16      36

    Single label. Note this returns a DataFrame with a single index.

    >>> df.loc['cobra']
             max_speed  shield
    mark i          12       2
    mark ii          0       4

    Single index tuple. Note this returns a Series.

    >>> df.loc[('cobra', 'mark ii')]
    max_speed    0
    shield       4
    Name: (cobra, mark ii), dtype: int64

    Single label for row and column. Similar to passing in a tuple, this
    returns a Series.

    >>> df.loc['cobra', 'mark i']
    max_speed    12
    shield        2
    Name: (cobra, mark i), dtype: int64

    Single tuple. Note using ``[[]]`` returns a DataFrame.

    >>> df.loc[[('cobra', 'mark ii')]]
                   max_speed  shield
    cobra mark ii          0       4

    Single tuple for the index with a single label for the column

    >>> df.loc[('cobra', 'mark i'), 'shield']
    2

    Slice from index tuple to single label

    >>> df.loc[('cobra', 'mark i'):'viper']
                         max_speed  shield
    cobra      mark i           12       2
               mark ii           0       4
    sidewinder mark i           10      20
               mark ii           1       4
    viper      mark ii           7       1
               mark iii         16      36

    Slice from index tuple to index tuple

    >>> df.loc[('cobra', 'mark i'):('viper', 'mark ii')]
                        max_speed  shield
    cobra      mark i          12       2
               mark ii          0       4
    sidewinder mark i          10      20
               mark ii          1       4
    viper      mark ii          7       1

    Raises
    ------
    KeyError:
        when any items are not found

In [44]:
df.iloc[5]

X           8
Y           6
month     aug
day       sun
FFMC     92.3
DMC      85.3
DC        488
ISI      14.7
temp     22.2
RH         29
wind      5.4
rain        0
area        0
Name: 5, dtype: object

In [45]:
df.loc[5]

X           8
Y           6
month     aug
day       sun
FFMC     92.3
DMC      85.3
DC        488
ISI      14.7
temp     22.2
RH         29
wind      5.4
rain        0
area        0
Name: 5, dtype: object

In [49]:
df.loc[5 : 7 ]
df.loc[[3, 7, 8]]
df.loc[[3, 7, 8], : ]

   X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain  area
3  8  6   mar  fri  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.0
7  8  6   aug  mon  91.5  145.4  608.2  10.7   8.0  86   2.2   0.0   0.0
8  8  6   sep  tue  91.0  129.5  692.6   7.0  13.1  63   5.4   0.0   0.0

In [50]:
df.loc[5 : 7 ]

   X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain  area
5  8  6   aug  sun  92.3   85.3  488.0  14.7  22.2  29   5.4   0.0   0.0
6  8  6   aug  mon  92.3   88.9  495.6   8.5  24.1  27   3.1   0.0   0.0
7  8  6   aug  mon  91.5  145.4  608.2  10.7   8.0  86   2.2   0.0   0.0

In [55]:
df.loc[5, 'month' ] # row 5 only
df.loc[:, 'month' ] #all rows

0      mar
1      oct
2      oct
3      mar
4      mar
5      aug
6      aug
7      aug
8      sep
9      sep
10     sep
11     sep
12     aug
13     sep
14     sep
15     sep
16     mar
17     oct
18     mar
19     apr
20     sep
21     sep
22     jun
23     aug
24     aug
25     aug
26     sep
27     sep
28     sep
29     sep
      ...
487    aug
488    aug
489    aug
490    aug
491    aug
492    aug
493    aug
494    aug
495    aug
496    aug
497    aug
498    aug
499    aug
500    aug
501    aug
502    aug
503    aug
504    aug
505    aug
506    aug
507    aug
508    aug
509    aug
510    aug
511    aug
512    aug
513    aug
514    aug
515    aug
516    nov
Name: month, Length: 517, dtype: object

In [53]:
df.loc[:, 'month' ]

0      mar
1      oct
2      oct
3      mar
4      mar
5      aug
6      aug
7      aug
8      sep
9      sep
10     sep
11     sep
12     aug
13     sep
14     sep
15     sep
16     mar
17     oct
18     mar
19     apr
20     sep
21     sep
22     jun
23     aug
24     aug
25     aug
26     sep
27     sep
28     sep
29     sep
      ...
487    aug
488    aug
489    aug
490    aug
491    aug
492    aug
493    aug
494    aug
495    aug
496    aug
497    aug
498    aug
499    aug
500    aug
501    aug
502    aug
503    aug
504    aug
505    aug
506    aug
507    aug
508    aug
509    aug
510    aug
511    aug
512    aug
513    aug
514    aug
515    aug
516    nov
Name: month, Length: 517, dtype: object

In [56]:
df

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
0    7  5   mar  fri  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0   0.00
1    7  4   oct  tue  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0   0.00
2    7  4   oct  sat  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0   0.00
3    8  6   mar  fri  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.00
4    8  6   mar  sun  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0   0.00
5    8  6   aug  sun  92.3   85.3  488.0  14.7  22.2  29   5.4   0.0   0.00
6    8  6   aug  mon  92.3   88.9  495.6   8.5  24.1  27   3.1   0.0   0.00
7    8  6   aug  mon  91.5  145.4  608.2  10.7   8.0  86   2.2   0.0   0.00
8    8  6   sep  tue  91.0  129.5  692.6   7.0  13.1  63   5.4   0.0   0.00
9    7  5   sep  sat  92.5   88.0  698.6   7.1  22.8  40   4.0   0.0   0.00
10   7  5   sep  sat  92.5   88.0  698.6   7.1  17.8  51   7.2   0.0   0.00
11   7  5   sep  sat  92.8   73.2  713.0  22.6  19.3  38   4.0   0.0   0.00
12   6  5   aug  fri  63.5   70.8  665.3   0.8  17.0  72   6.7   0.0   0.00
13   6  5   sep  mon  90.9  126.5  686.5   7.0  21.3  42   2.2   0.0   0.00
14   6  5   sep  wed  92.9  133.3  699.6   9.2  26.4  21   4.5   0.0   0.00
15   6  5   sep  fri  93.3  141.2  713.9  13.9  22.9  44   5.4   0.0   0.00
16   5  5   mar  sat  91.7   35.8   80.8   7.8  15.1  27   5.4   0.0   0.00
17   8  5   oct  mon  84.9   32.8  664.2   3.0  16.7  47   4.9   0.0   0.00
18   6  4   mar  wed  89.2   27.9   70.8   6.3  15.9  35   4.0   0.0   0.00
19   6  4   apr  sat  86.3   27.4   97.1   5.1   9.3  44   4.5   0.0   0.00
20   6  4   sep  tue  91.0  129.5  692.6   7.0  18.3  40   2.7   0.0   0.00
21   5  4   sep  mon  91.8   78.5  724.3   9.2  19.1  38   2.7   0.0   0.00
22   7  4   jun  sun  94.3   96.3  200.0  56.1  21.0  44   4.5   0.0   0.00
23   7  4   aug  sat  90.2  110.9  537.4   6.2  19.5  43   5.8   0.0   0.00
24   7  4   aug  sat  93.5  139.4  594.2  20.3  23.7  32   5.8   0.0   0.00
25   7  4   aug  sun  91.4  142.4  601.4  10.6  16.3  60   5.4   0.0   0.00
26   7  4   sep  fri  92.4  117.9  668.0  12.2  19.0  34   5.8   0.0   0.00
27   7  4   sep  mon  90.9  126.5  686.5   7.0  19.4  48   1.3   0.0   0.00
28   6  3   sep  sat  93.4  145.4  721.4   8.1  30.2  24   2.7   0.0   0.00
29   6  3   sep  sun  93.5  149.3  728.6   8.1  22.8  39   3.6   0.0   0.00
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...    ...
487  5  4   aug  tue  95.1  141.3  605.8  17.7  26.4  34   3.6   0.0  16.40
488  4  4   aug  tue  95.1  141.3  605.8  17.7  19.4  71   7.6   0.0  46.70
489  4  4   aug  wed  95.1  141.3  605.8  17.7  20.6  58   1.3   0.0   0.00
490  4  4   aug  wed  95.1  141.3  605.8  17.7  28.7  33   4.0   0.0   0.00
491  4  4   aug  thu  95.8  152.0  624.1  13.8  32.4  21   4.5   0.0   0.00
492  1  3   aug  fri  95.9  158.0  633.6  11.3  32.4  27   2.2   0.0   0.00
493  1  3   aug  fri  95.9  158.0  633.6  11.3  27.5  29   4.5   0.0  43.32
494  6  6   aug  sat  96.0  164.0  643.0  14.0  30.8  30   4.9   0.0   8.59
495  6  6   aug  mon  96.2  175.5  661.8  16.8  23.9  42   2.2   0.0   0.00
496  4  5   aug  mon  96.2  175.5  661.8  16.8  32.6  26   3.1   0.0   2.77
497  3  4   aug  tue  96.1  181.1  671.2  14.3  32.3  27   2.2   0.0  14.68
498  6  5   aug  tue  96.1  181.1  671.2  14.3  33.3  26   2.7   0.0  40.54
499  7  5   aug  tue  96.1  181.1  671.2  14.3  27.3  63   4.9   6.4  10.82
500  8  6   aug  tue  96.1  181.1  671.2  14.3  21.6  65   4.9   0.8   0.00
501  7  5   aug  tue  96.1  181.1  671.2  14.3  21.6  65   4.9   0.8   0.00
502  4  4   aug  tue  96.1  181.1  671.2  14.3  20.7  69   4.9   0.4   0.00
503  2  4   aug  wed  94.5  139.4  689.1  20.0  29.2  30   4.9   0.0   1.95
504  4  3   aug  wed  94.5  139.4  689.1  20.0  28.9  29   4.9   0.0  49.59
505  1  2   aug  thu  91.0  163.2  744.4  10.1  26.7  35   1.8   0.0   5.80
506  1  2   aug  fri  91.0  166.9  752.6   7.1  18.5  73   8.5   0.0   0.00
507  2  4   aug  fri  91.0  166.9  752.6   7.1  25.9  41   3.6   0.0   0.00
508  1  2   aug  fri  91.0  166.9  752.6   7.1  25.9  41   3.6   0.0   0.00
509  5  4   aug  fri  91.0  166.9  752.6   7.1  21.1  71   7.6   1.4   2.17
510  6  5   aug  fri  91.0  166.9  752.6   7.1  18.2  62   5.4   0.0   0.43
511  8  6   aug  sun  81.6   56.7  665.6   1.9  27.8  35   2.7   0.0   0.00
512  4  3   aug  sun  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0   6.44
513  2  4   aug  sun  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0  54.29
514  7  4   aug  sun  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  11.16
515  1  4   aug  sat  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0   0.00
516  6  3   nov  tue  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0   0.00

[517 rows x 13 columns]

In [57]:
df.loc[[5, 6, 7],  'FFMC' :]

   FFMC    DMC     DC   ISI  temp  RH  wind  rain  area
5  92.3   85.3  488.0  14.7  22.2  29   5.4   0.0   0.0
6  92.3   88.9  495.6   8.5  24.1  27   3.1   0.0   0.0
7  91.5  145.4  608.2  10.7   8.0  86   2.2   0.0   0.0

In [58]:
df.loc[[5, 6, 7],  'FFMC' : 'RH']

   FFMC    DMC     DC   ISI  temp  RH
5  92.3   85.3  488.0  14.7  22.2  29
6  92.3   88.9  495.6   8.5  24.1  27
7  91.5  145.4  608.2  10.7   8.0  86

In [59]:
df.loc[[5, 6, 7], ['FFMC', 'DC']]

   FFMC     DC
5  92.3  488.0
6  92.3  495.6
7  91.5  608.2

#Subsetting Rows Based on Conditions

#Slicing and Dicing Dataframes

In [60]:
df.head()

   X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
2  7  4   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
3  8  6   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
4  8  6   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0

In [61]:
df.wind > 4

0       True
1      False
2      False
3      False
4      False
5       True
6      False
7      False
8       True
9      False
10      True
11     False
12      True
13     False
14      True
15      True
16      True
17      True
18     False
19      True
20     False
21     False
22      True
23      True
24      True
25      True
26      True
27     False
28     False
29     False
       ...
487    False
488     True
489    False
490    False
491     True
492    False
493     True
494     True
495    False
496    False
497    False
498    False
499     True
500     True
501     True
502     True
503     True
504     True
505    False
506     True
507    False
508    False
509     True
510     True
511    False
512    False
513     True
514     True
515    False
516     True
Name: wind, Length: 517, dtype: bool

In [62]:
df.loc[df.wind > 4]

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain    area
0    7  5   mar  fri  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0    0.00
5    8  6   aug  sun  92.3   85.3  488.0  14.7  22.2  29   5.4   0.0    0.00
8    8  6   sep  tue  91.0  129.5  692.6   7.0  13.1  63   5.4   0.0    0.00
10   7  5   sep  sat  92.5   88.0  698.6   7.1  17.8  51   7.2   0.0    0.00
12   6  5   aug  fri  63.5   70.8  665.3   0.8  17.0  72   6.7   0.0    0.00
14   6  5   sep  wed  92.9  133.3  699.6   9.2  26.4  21   4.5   0.0    0.00
15   6  5   sep  fri  93.3  141.2  713.9  13.9  22.9  44   5.4   0.0    0.00
16   5  5   mar  sat  91.7   35.8   80.8   7.8  15.1  27   5.4   0.0    0.00
17   8  5   oct  mon  84.9   32.8  664.2   3.0  16.7  47   4.9   0.0    0.00
19   6  4   apr  sat  86.3   27.4   97.1   5.1   9.3  44   4.5   0.0    0.00
22   7  4   jun  sun  94.3   96.3  200.0  56.1  21.0  44   4.5   0.0    0.00
23   7  4   aug  sat  90.2  110.9  537.4   6.2  19.5  43   5.8   0.0    0.00
24   7  4   aug  sat  93.5  139.4  594.2  20.3  23.7  32   5.8   0.0    0.00
25   7  4   aug  sun  91.4  142.4  601.4  10.6  16.3  60   5.4   0.0    0.00
26   7  4   sep  fri  92.4  117.9  668.0  12.2  19.0  34   5.8   0.0    0.00
31   6  3   sep  mon  88.6   91.8  709.9   7.1  11.2  78   7.6   0.0    0.00
35   6  3   sep  tue  90.3   80.7  730.2   6.3  18.2  62   4.5   0.0    0.00
36   6  3   oct  tue  90.6   35.4  669.1   6.7  21.7  24   4.5   0.0    0.00
37   7  4   oct  fri  90.0   41.5  682.6   8.7  11.3  60   5.4   0.0    0.00
41   4  4   aug  sat  90.2   96.9  624.2   8.9  18.4  42   6.7   0.0    0.00
42   4  4   aug  tue  94.8  108.3  647.1  17.0  16.6  54   5.4   0.0    0.00
44   4  4   sep  wed  90.1   82.9  735.7   6.2  12.9  74   4.9   0.0    0.00
49   4  4   mar  mon  87.6   52.2  103.8   5.0  11.0  46   5.8   0.0    0.00
52   4  3   aug  wed  92.1  111.2  654.1   9.6  20.4  42   4.9   0.0    0.00
53   4  3   aug  wed  92.1  111.2  654.1   9.6  20.4  42   4.9   0.0    0.00
56   4  3   sep  tue  90.3   80.7  730.2   6.3  17.8  63   4.9   0.0    0.00
58   2  2   feb  mon  84.0    9.3   34.0   2.1  13.9  40   5.4   0.0    0.00
60   2  2   mar  sun  89.3   51.3  102.2   9.6  11.5  39   5.8   0.0    0.00
61   2  2   mar  sun  89.3   51.3  102.2   9.6   5.5  59   6.3   0.0    0.00
62   2  2   aug  thu  93.0   75.3  466.6   7.7  18.8  35   4.9   0.0    0.00
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...     ...
463  6  5   feb  tue  75.1    4.4   16.2   1.9   4.6  82   6.3   0.0    5.39
464  6  4   feb  tue  75.1    4.4   16.2   1.9   5.1  77   5.4   0.0    2.14
466  6  5   mar  mon  87.2   15.1   36.9   7.1  10.2  45   5.8   0.0    3.18
467  3  4   mar  wed  90.2   18.5   41.1   7.3  11.2  41   5.4   0.0    5.55
469  6  3   apr  sun  91.0   14.6   25.6  12.3  13.7  33   9.4   0.0   61.13
470  5  4   apr  sun  91.0   14.6   25.6  12.3  17.6  27   5.8   0.0    0.00
475  2  5   jun  thu  93.7  121.7  350.2  18.0  22.7  40   9.4   0.0    3.19
478  7  4   jul  sun  93.7  101.3  423.4  14.7  18.2  82   4.5   0.0    2.21
479  7  4   jul  mon  89.2  103.9  431.6   6.4  22.6  57   4.9   0.0  278.53
480  9  9   jul  thu  93.2  114.4  560.0   9.5  30.2  25   4.5   0.0    2.75
481  4  3   jul  thu  93.2  114.4  560.0   9.5  30.2  22   4.9   0.0    0.00
482  3  4   aug  sun  94.9  130.3  587.1  14.1  23.4  40   5.8   0.0    1.29
483  8  6   aug  sun  94.9  130.3  587.1  14.1  31.0  27   5.4   0.0    0.00
486  5  4   aug  tue  95.1  141.3  605.8  17.7  24.1  43   6.3   0.0    2.00
488  4  4   aug  tue  95.1  141.3  605.8  17.7  19.4  71   7.6   0.0   46.70
491  4  4   aug  thu  95.8  152.0  624.1  13.8  32.4  21   4.5   0.0    0.00
493  1  3   aug  fri  95.9  158.0  633.6  11.3  27.5  29   4.5   0.0   43.32
494  6  6   aug  sat  96.0  164.0  643.0  14.0  30.8  30   4.9   0.0    8.59
499  7  5   aug  tue  96.1  181.1  671.2  14.3  27.3  63   4.9   6.4   10.82
500  8  6   aug  tue  96.1  181.1  671.2  14.3  21.6  65   4.9   0.8    0.00
501  7  5   aug  tue  96.1  181.1  671.2  14.3  21.6  65   4.9   0.8    0.00
502  4  4   aug  tue  96.1  181.1  671.2  14.3  20.7  69   4.9   0.4    0.00
503  2  4   aug  wed  94.5  139.4  689.1  20.0  29.2  30   4.9   0.0    1.95
504  4  3   aug  wed  94.5  139.4  689.1  20.0  28.9  29   4.9   0.0   49.59
506  1  2   aug  fri  91.0  166.9  752.6   7.1  18.5  73   8.5   0.0    0.00
509  5  4   aug  fri  91.0  166.9  752.6   7.1  21.1  71   7.6   1.4    2.17
510  6  5   aug  fri  91.0  166.9  752.6   7.1  18.2  62   5.4   0.0    0.43
513  2  4   aug  sun  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0   54.29
514  7  4   aug  sun  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0   11.16
516  6  3   nov  tue  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0    0.00

[217 rows x 13 columns]

In [63]:
month_list = ['aug', 'nov']
df.loc[df['month'].isin(month_list), :]

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
5    8  6   aug  sun  92.3   85.3  488.0  14.7  22.2  29   5.4   0.0   0.00
6    8  6   aug  mon  92.3   88.9  495.6   8.5  24.1  27   3.1   0.0   0.00
7    8  6   aug  mon  91.5  145.4  608.2  10.7   8.0  86   2.2   0.0   0.00
12   6  5   aug  fri  63.5   70.8  665.3   0.8  17.0  72   6.7   0.0   0.00
23   7  4   aug  sat  90.2  110.9  537.4   6.2  19.5  43   5.8   0.0   0.00
24   7  4   aug  sat  93.5  139.4  594.2  20.3  23.7  32   5.8   0.0   0.00
25   7  4   aug  sun  91.4  142.4  601.4  10.6  16.3  60   5.4   0.0   0.00
41   4  4   aug  sat  90.2   96.9  624.2   8.9  18.4  42   6.7   0.0   0.00
42   4  4   aug  tue  94.8  108.3  647.1  17.0  16.6  54   5.4   0.0   0.00
51   4  3   aug  sun  90.2   99.6  631.2   6.3  21.5  34   2.2   0.0   0.00
52   4  3   aug  wed  92.1  111.2  654.1   9.6  20.4  42   4.9   0.0   0.00
53   4  3   aug  wed  92.1  111.2  654.1   9.6  20.4  42   4.9   0.0   0.00
54   4  3   aug  thu  91.7  114.3  661.3   6.3  17.6  45   3.6   0.0   0.00
62   2  2   aug  thu  93.0   75.3  466.6   7.7  18.8  35   4.9   0.0   0.00
63   2  2   aug  sun  90.2   99.6  631.2   6.3  20.8  33   2.7   0.0   0.00
64   2  2   aug  mon  91.1  103.2  638.8   5.8  23.1  31   3.1   0.0   0.00
65   2  2   aug  thu  91.7  114.3  661.3   6.3  18.6  44   4.5   0.0   0.00
73   5  4   aug  tue  88.8  147.3  614.5   9.0  17.3  43   4.5   0.0   0.00
78   1  2   aug  fri  90.1  108.0  529.8  12.5  14.7  66   2.7   0.0   0.00
79   1  2   aug  tue  91.0  121.2  561.6   7.0  21.6  19   6.7   0.0   0.00
80   1  2   aug  sun  91.4  142.4  601.4  10.6  19.5  39   6.3   0.0   0.00
81   1  2   aug  sun  90.2   99.6  631.2   6.3  17.9  44   2.2   0.0   0.00
82   1  2   aug  tue  94.8  108.3  647.1  17.0  18.6  51   4.5   0.0   0.00
83   1  2   aug  wed  92.1  111.2  654.1   9.6  16.6  47   0.9   0.0   0.00
84   1  2   aug  thu  91.7  114.3  661.3   6.3  20.2  45   3.6   0.0   0.00
90   6  5   aug  sat  90.2   96.9  624.2   8.9  14.7  59   5.8   0.0   0.00
92   8  6   aug  sun  92.3   85.3  488.0  14.7  20.8  32   6.3   0.0   0.00
93   8  6   aug  sun  91.4  142.4  601.4  10.6  18.2  43   4.9   0.0   0.00
94   8  6   aug  mon  91.1  103.2  638.8   5.8  23.4  22   2.7   0.0   0.00
98   3  4   aug  sun  91.4  142.4  601.4  10.6  11.6  87   4.5   0.0   0.00
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...    ...
487  5  4   aug  tue  95.1  141.3  605.8  17.7  26.4  34   3.6   0.0  16.40
488  4  4   aug  tue  95.1  141.3  605.8  17.7  19.4  71   7.6   0.0  46.70
489  4  4   aug  wed  95.1  141.3  605.8  17.7  20.6  58   1.3   0.0   0.00
490  4  4   aug  wed  95.1  141.3  605.8  17.7  28.7  33   4.0   0.0   0.00
491  4  4   aug  thu  95.8  152.0  624.1  13.8  32.4  21   4.5   0.0   0.00
492  1  3   aug  fri  95.9  158.0  633.6  11.3  32.4  27   2.2   0.0   0.00
493  1  3   aug  fri  95.9  158.0  633.6  11.3  27.5  29   4.5   0.0  43.32
494  6  6   aug  sat  96.0  164.0  643.0  14.0  30.8  30   4.9   0.0   8.59
495  6  6   aug  mon  96.2  175.5  661.8  16.8  23.9  42   2.2   0.0   0.00
496  4  5   aug  mon  96.2  175.5  661.8  16.8  32.6  26   3.1   0.0   2.77
497  3  4   aug  tue  96.1  181.1  671.2  14.3  32.3  27   2.2   0.0  14.68
498  6  5   aug  tue  96.1  181.1  671.2  14.3  33.3  26   2.7   0.0  40.54
499  7  5   aug  tue  96.1  181.1  671.2  14.3  27.3  63   4.9   6.4  10.82
500  8  6   aug  tue  96.1  181.1  671.2  14.3  21.6  65   4.9   0.8   0.00
501  7  5   aug  tue  96.1  181.1  671.2  14.3  21.6  65   4.9   0.8   0.00
502  4  4   aug  tue  96.1  181.1  671.2  14.3  20.7  69   4.9   0.4   0.00
503  2  4   aug  wed  94.5  139.4  689.1  20.0  29.2  30   4.9   0.0   1.95
504  4  3   aug  wed  94.5  139.4  689.1  20.0  28.9  29   4.9   0.0  49.59
505  1  2   aug  thu  91.0  163.2  744.4  10.1  26.7  35   1.8   0.0   5.80
506  1  2   aug  fri  91.0  166.9  752.6   7.1  18.5  73   8.5   0.0   0.00
507  2  4   aug  fri  91.0  166.9  752.6   7.1  25.9  41   3.6   0.0   0.00
508  1  2   aug  fri  91.0  166.9  752.6   7.1  25.9  41   3.6   0.0   0.00
509  5  4   aug  fri  91.0  166.9  752.6   7.1  21.1  71   7.6   1.4   2.17
510  6  5   aug  fri  91.0  166.9  752.6   7.1  18.2  62   5.4   0.0   0.43
511  8  6   aug  sun  81.6   56.7  665.6   1.9  27.8  35   2.7   0.0   0.00
512  4  3   aug  sun  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0   6.44
513  2  4   aug  sun  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0  54.29
514  7  4   aug  sun  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  11.16
515  1  4   aug  sat  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0   0.00
516  6  3   nov  tue  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0   0.00

[185 rows x 13 columns]

# Merge and Append

In [13]:
#Perform an inner merge on two data frames df_1 and df_2 on  'unique_id' and print the combined dataframe.
df_1 = pd.read_csv('https://query.data.world/s/vv3snq28bp0TJq2ggCdxGOghEQKPZo')
df_2 = pd.read_csv('https://query.data.world/s/9wVKjNT0yiRc3YbVJaiI8a6HGl2d74')
df_3 = pd.merge(df_1, df_2, how='inner', on='unique_id')
df_1.head()
df_2.head()
df_3.head()

,name,address,city,cuisine,unique_id,name_2,address_2,city_2,cuisine_2
0,arnie morton's of chicago,"""435 s. la cienega blvd.""","""los angeles""","""steakhouses""",'0',arnie morton's of chicago,"""435 s. la cienega blv.""","""los angeles""","""american"""
1,art's deli,"""12224 ventura blvd.""","""studio city""","""delis""",'1',art's delicatessen,"""12224 ventura blvd.""","""studio city""","""american"""
2,bel-air hotel,"""701 stone canyon rd.""","""bel air""","""californian""",'2',hotel bel-air,"""701 stone canyon rd.""","""bel air""","""californian"""
3,cafe bizou,"""14016 ventura blvd.""","""sherman oaks""","""french bistro""",'3',cafe bizou,"""14016 ventura blvd.""","""sherman oaks""","""french"""
4,campanile,"""624 s. la brea ave.""","""los angeles""","""californian""",'4',campanile,"""624 s. la brea ave.""","""los angeles""","""american"""

In [17]:
#slicing
df_3.loc[df_3['name'] == 'cafe bizou']

,name,address,city,cuisine,unique_id,name_2,address_2,city_2,cuisine_2
3,cafe bizou,"""14016 ventura blvd.""","""sherman oaks""","""french bistro""",'3',cafe bizou,"""14016 ventura blvd.""","""sherman oaks""","""french"""

In [20]:
df_3.loc[df_3.name == 'cafe bizou']

,name,address,city,cuisine,unique_id,name_2,address_2,city_2,cuisine_2
3,cafe bizou,"""14016 ventura blvd.""","""sherman oaks""","""french bistro""",'3',cafe bizou,"""14016 ventura blvd.""","""sherman oaks""","""french"""

In [30]:
#Dataframe Append
#Append two datasets 'df_1' and 'df_2' and print the combined dataframe.
df_1 = pd.read_csv('https://query.data.world/s/vv3snq28bp0TJq2ggCdxGOghEQKPZo')
df_2 = pd.read_csv('https://query.data.world/s/9wVKjNT0yiRc3YbVJaiI8a6HGl2d74')
df_3 = df_1.append(df_2)
df_3.head()

D:\Softwares\Anaconda3\lib\site-packages\pandas\core\frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

,address,address_2,city,city_2,cuisine,cuisine_2,name,name_2,unique_id
0,"""435 s. la cienega blvd.""",NaN,"""los angeles""",NaN,"""steakhouses""",NaN,arnie morton's of chicago,NaN,'0'
1,"""12224 ventura blvd.""",NaN,"""studio city""",NaN,"""delis""",NaN,art's deli,NaN,'1'
2,"""701 stone canyon rd.""",NaN,"""bel air""",NaN,"""californian""",NaN,bel-air hotel,NaN,'2'
3,"""14016 ventura blvd.""",NaN,"""sherman oaks""",NaN,"""french bistro""",NaN,cafe bizou,NaN,'3'
4,"""624 s. la brea ave.""",NaN,"""los angeles""",NaN,"""californian""",NaN,campanile,NaN,'4'

In [29]:
#Dataframe Concatenate
df_4 = pd.concat([df_1, df_2], axis=1)
df_4.head()

,name,address,city,cuisine,unique_id,name_2,address_2,city_2,cuisine_2,unique_id
0,arnie morton's of chicago,"""435 s. la cienega blvd.""","""los angeles""","""steakhouses""",'0',arnie morton's of chicago,"""435 s. la cienega blv.""","""los angeles""","""american""",'0'
1,art's deli,"""12224 ventura blvd.""","""studio city""","""delis""",'1',art's delicatessen,"""12224 ventura blvd.""","""studio city""","""american""",'1'
2,bel-air hotel,"""701 stone canyon rd.""","""bel air""","""californian""",'2',hotel bel-air,"""701 stone canyon rd.""","""bel air""","""californian""",'2'
3,cafe bizou,"""14016 ventura blvd.""","""sherman oaks""","""french bistro""",'3',cafe bizou,"""14016 ventura blvd.""","""sherman oaks""","""french""",'3'
4,campanile,"""624 s. la brea ave.""","""los angeles""","""californian""",'4',campanile,"""624 s. la brea ave.""","""los angeles""","""american""",'4'

# Grouping and Summarizing Dataframes

In [45]:
#Group the data 'df' by 'month' and 'day' and find the mean value for column 'rain' and 'wind'.
df = pd.read_csv('https://query.data.world/s/vBDCsoHCytUSLKkLvq851k2b8JOCkF')
#df.head(20)
df_by_month_day = df.groupby(['month', 'day'])
df_1 = df_by_month_day['rain'].sum().sort_values(ascending = False)
#df_1 = df_by_month_day.rain.sum().sort_values(ascending = False)
# df_1 = df_by_month_day['rain'].mean()
print(df_1.head(20))

month  day
aug    tue    8.4
       fri    1.4
       sun    1.0
jul    wed    0.2
mar    fri    0.2
sep    wed    0.0
feb    fri    0.0
       mon    0.0
       sat    0.0
       sun    0.0
       thu    0.0
dec    tue    0.0
feb    tue    0.0
       wed    0.0
jan    sat    0.0
       sun    0.0
jul    fri    0.0
dec    wed    0.0
       sun    0.0
       thu    0.0
Name: rain, dtype: float64

In [51]:
#calculate rain across each month as percentage
(df.groupby('month').rain.sum() / sum(df['rain'])) * 100

month
apr     0.000000
aug    96.428571
dec     0.000000
feb     0.000000
jan     0.000000
jul     1.785714
jun     0.000000
mar     1.785714
may     0.000000
nov     0.000000
oct     0.000000
sep     0.000000
Name: rain, dtype: float64

In [53]:
#calculate wind across each month as percentage
(df.groupby('month').wind.sum() / sum(df['wind'])) * 100

month
apr     2.022050
aug    36.199509
dec     3.312310
feb     3.615618
jan     0.192576
jul     5.753214
jun     3.384527
mar    12.917048
may     0.428482
nov     0.216648
oct     2.498676
sep    29.459342
Name: wind, dtype: float64

In [47]:
df_by_month_day.describe()

             DC                                                             \
          count        mean           std    min      25%     50%      75%
month day
apr   fri   1.0   85.300000           NaN   85.3   85.300   85.30   85.300
      mon   1.0   41.600000           NaN   41.6   41.600   41.60   41.600
      sat   1.0   97.100000           NaN   97.1   97.100   97.10   97.100
      sun   3.0   19.700000  1.021910e+01    7.9   16.750   25.60   25.600
      thu   2.0   55.200000  0.000000e+00   55.2   55.200   55.20   55.200
      wed   1.0   43.500000           NaN   43.5   43.500   43.50   43.500
aug   fri  21.0  665.200000  8.202808e+01  529.8  586.700  665.30  752.600
      mon  15.0  632.046667  5.847020e+01  495.6  608.200  638.80  672.600
      sat  29.0  652.062069  8.585875e+01  480.8  594.200  624.20  715.100
      sun  40.0  616.082500  9.794386e+01  100.7  601.400  622.10  664.775
      thu  26.0  659.057692  8.769222e+01  466.6  589.525  661.30  732.950
      tue  28.0  639.992857  3.363094e+01  550.3  614.500  647.10  661.450
      wed  25.0  636.000000  5.609404e+01  503.6  609.600  654.10  666.700
dec   fri   1.0  352.600000           NaN  352.6  352.600  352.60  352.600
      mon   4.0  349.700000  0.000000e+00  349.7  349.700  349.70  349.700
      sun   1.0  353.500000           NaN  353.5  353.500  353.50  353.500
      thu   1.0  352.000000           NaN  352.0  352.000  352.00  352.000
      tue   1.0  349.700000           NaN  349.7  349.700  349.70  349.700
      wed   1.0  354.600000           NaN  354.6  354.600  354.60  354.600
feb   fri   5.0   39.640000  1.396238e+01   15.8   43.000   43.00   43.600
      mon   3.0   46.333333  1.215415e+01   34.0   40.350   46.70   52.500
      sat   4.0   46.925000  3.144915e+01   15.3   26.475   42.60   63.050
      sun   4.0  122.700000  1.542098e+02   32.1   44.250   52.60  131.050
      thu   1.0   26.600000           NaN   26.6   26.600   26.60   26.600
      tue   2.0   16.200000  0.000000e+00   16.2   16.200   16.20   16.200
      wed   1.0   18.700000           NaN   18.7   18.700   18.70   18.700
jan   sat   1.0    9.300000           NaN    9.3    9.300    9.30    9.300
      sun   1.0  171.400000           NaN  171.4  171.400  171.40  171.400
jul   fri   3.0  381.500000  7.903113e+01  309.9  339.100  368.30  417.300
      mon   4.0  470.950000  6.437290e+01  431.6  439.475  442.50  473.975
...         ...         ...           ...    ...      ...     ...      ...
      wed   3.0  472.333333  4.302701e+01  437.7  448.250  458.80  489.650
jun   fri   3.0  299.166667  1.161629e+02  232.1  232.100  232.10  332.700
      mon   3.0  275.066667  3.989490e+01  229.0  263.550  298.10  298.100
      sat   2.0  243.200000  1.329361e+01  233.8  238.500  243.20  247.900
      sun   4.0  303.100000  9.528812e+01  200.0  268.100  290.80  325.800
      thu   2.0  333.450000  2.368808e+01  316.7  325.075  333.45  341.825
      wed   3.0  324.200000  4.589935e+01  297.7  297.700  297.70  337.450
mar   fri  11.0   81.190909  1.481766e+01   57.3   77.500   77.50   96.050
      mon  12.0   85.975000  2.111402e+01   36.9   81.125   86.60  103.800
      sat  10.0   79.050000  2.374809e+01   15.5   80.800   80.80   87.250
      sun   7.0   98.157143  7.347076e+00   83.7   97.300  102.20  102.200
      thu   5.0   46.800000  1.843407e+01   30.6   30.600   43.50   55.000
      tue   5.0   59.200000  1.878297e+01   25.6   67.600   67.60   67.600
      wed   4.0   42.125000  2.004634e+01   28.3   28.300   34.70   48.525
may   fri   1.0   73.700000           NaN   73.7   73.700   73.70   73.700
      sat   1.0  113.800000           NaN  113.8  113.800  113.80  113.800
nov   tue   1.0  106.700000           NaN  106.7  106.700  106.70  106.700
oct   fri   1.0  682.600000           NaN  682.6  682.600  682.60  682.600
      mon   4.0  680.150000  1.841747e+01  664.2  664.200  680.15  696.100
      sat   3.0  686.900000  0.000000e+00  686.9  686.900  686.90  686.900
      sun   3.0  691.800000  1.392374e-13  691.8  691.800  691.80  691.800
      tue   2.0  669.100000  0.000000e+00  669.1  669.100  669.10  669.100
      wed   2.0  673.800000  0.000000e+00  673.8  673.800  673.80  673.800
sep   fri  38.0  738.889474  5.491606e+01  668.0  692.300  741.70  745.300
      mon  28.0  737.439286  4.582943e+01  665.3  686.500  724.30  764.000
      sat  25.0  729.480000  4.513170e+01  674.4  698.600  721.40  751.500
      sun  27.0  736.318519  4.481535e+01  680.7  705.500  728.60  758.100
      thu  21.0  739.400000  4.764928e+01  685.2  706.400  726.90  783.500
      tue  19.0  718.136842  4.618494e+01  671.9  692.600  692.60  750.250
      wed  14.0  738.442857  4.824193e+01  692.3  699.600  730.40  766.750

                   DMC             ...     temp        wind            \
             max count        mean ...      75%   max count      mean
month day                          ...
apr   fri   85.3   1.0   23.300000 ...   16.700  16.7   1.0  3.100000
      mon   41.6   1.0   24.900000 ...   10.900  10.9   1.0  3.100000
      sat   97.1   1.0   27.400000 ...    9.300   9.3   1.0  4.500000
      sun   25.6   3.0   10.733333 ...   15.650  17.6   3.0  5.666667
      thu   55.2   2.0    9.100000 ...    5.800   5.8   2.0  5.800000
      wed   43.5   1.0   17.200000 ...   15.200  15.2   1.0  2.700000
aug   fri  811.2  21.0  161.419048 ...   23.500  32.4  21.0  4.766667
      mon  730.6  15.0  158.806667 ...   27.350  32.6  15.0  2.873333
      sat  819.1  29.0  170.134483 ...   23.700  30.8  29.0  4.310345
      sun  723.1  40.0  137.257500 ...   24.150  33.1  40.0  4.417500
      thu  803.3  26.0  170.992308 ...   23.500  32.4  26.0  3.503846
      tue  680.9  28.0  145.892857 ...   24.225  33.3  28.0  4.567857
      wed  690.0  25.0  142.396000 ...   26.800  30.8  25.0  3.520000
dec   fri  352.6   1.0   26.700000 ...    2.200   2.2   1.0  4.900000
      mon  349.7   4.0   25.400000 ...    4.600   4.6   4.0  8.500000
      sun  353.5   1.0   27.200000 ...    4.800   4.8   1.0  8.500000
      thu  352.0   1.0   26.400000 ...    5.100   5.1   1.0  4.900000
      tue  349.7   1.0   25.400000 ...    5.100   5.1   1.0  8.500000
      wed  354.6   1.0   27.800000 ...    5.100   5.1   1.0  8.000000
feb   fri   52.8   5.0    8.360000 ...   14.700  15.7   5.0  4.820000
      mon   58.3   3.0    7.800000 ...   10.700  13.9   3.0  4.500000
      sat   87.2   4.0   10.325000 ...   14.500  15.4   4.0  2.350000
      sun  353.5   4.0   15.200000 ...   10.675  12.4   4.0  2.550000
      thu   26.6   1.0    6.800000 ...    6.700   6.7   1.0  3.100000
      tue   16.2   2.0    4.400000 ...    4.975   5.1   2.0  5.850000
      wed   18.7   1.0    6.600000 ...    8.800   8.8   1.0  3.100000
jan   sat    9.3   1.0    3.700000 ...    5.300   5.3   1.0  3.100000
      sun  171.4   1.0    1.100000 ...    5.200   5.2   1.0  0.900000
jul   fri  466.3   3.0  110.466667 ...   18.850  22.9   3.0  4.300000
      mon  567.2   4.0  104.575000 ...   22.850  23.0   4.0  3.800000
...          ...   ...         ... ...      ...   ...   ...       ...
      wed  520.5   3.0  139.333333 ...   16.750  19.3   3.0  6.266667
jun   fri  433.3   3.0   81.533333 ...   21.200  23.2   3.0  4.800000
      mon  298.1   3.0   94.266667 ...   19.900  20.7   3.0  4.766667
      sat  252.6   2.0   66.050000 ...   21.025  24.5   2.0  2.900000
      sun  430.8   4.0  113.925000 ...   21.300  22.2   4.0  2.450000
      thu  350.2   2.0  112.750000 ...   25.475  26.4   2.0  6.050000
      wed  377.2   3.0   82.266667 ...   28.000  28.0   3.0  4.633333
mar   fri   97.8  11.0   34.463636 ...   16.500  18.8  11.0  5.863636
      mon  103.8  12.0   40.225000 ...   13.400  16.1  12.0  4.083333
      sat  100.4  10.0   35.930000 ...   17.000  17.4  10.0  5.010000
      sun  102.2   7.0   48.300000 ...   11.500  12.4   7.0  4.600000
      thu   74.3   5.0   21.460000 ...   13.300  18.2   5.0  4.480000
      tue   67.6   5.0   23.560000 ...   15.500  15.8   5.0  5.380000
      wed   70.8   4.0   20.250000 ...   14.325  15.9   4.0  5.800000
may   fri   73.7   1.0   25.400000 ...   18.000  18.0   1.0  4.000000
      sat  113.8   1.0   28.000000 ...   11.300  11.3   1.0  4.900000
nov   tue  106.7   1.0    3.000000 ...   11.800  11.8   1.0  4.500000
oct   fri  682.6   1.0   41.500000 ...   11.300  11.3   1.0  5.400000
      mon  696.1   4.0   40.650000 ...   17.375  19.1   4.0  4.350000
      sat  686.9   3.0   43.700000 ...   18.100  18.4   3.0  2.800000
      sun  691.8   3.0   46.500000 ...   18.000  20.6   3.0  3.000000
      tue  669.1   2.0   35.400000 ...   20.775  21.7   2.0  2.700000
      wed  673.8   2.0   37.900000 ...   19.125  20.2   2.0  3.150000
sep   fri  855.3  38.0  125.613158 ...   20.475  27.6  38.0  3.910526
      mon  807.1  28.0  109.853571 ...   21.050  23.0  28.0  3.107143
      sat  860.6  25.0  116.148000 ...   24.100  30.2  25.0  3.460000
      sun  825.1  27.0  133.659259 ...   23.850  28.3  27.0  3.955556
      thu  849.3  21.0  121.652381 ...   22.400  27.7  21.0  3.357143
      tue  812.1  19.0  112.989474 ...   20.900  24.3  19.0  3.431579
      wed  844.0  14.0  123.964286 ...   24.300  26.4  14.0  3.378571


                std  min    25%   50%    75%  max
month day
apr   fri       NaN  3.1  3.100  3.10  3.100  3.1
      mon       NaN  3.1  3.100  3.10  3.100  3.1
      sat       NaN  4.5  4.500  4.50  4.500  4.5
      sun  3.801754  1.8  3.800  5.80  7.600  9.4
      thu  0.000000  5.8  5.800  5.80  5.800  5.8
      wed       NaN  2.7  2.700  2.70  2.700  2.7
aug   fri  1.996580  2.2  3.100  4.00  5.400  8.9
      mon  1.053204  1.3  2.200  2.70  3.350  5.4
      sat  1.708873  0.9  3.100  4.50  5.800  8.0
      sun  1.670542  0.9  3.000  4.70  5.400  7.6
      thu  1.177618  1.8  2.700  3.10  4.000  6.7
      tue  1.485499  2.2  3.475  4.50  5.400  7.6
      wed  1.494155  0.4  2.700  4.00  4.500  5.4
dec   fri       NaN  4.9  4.900  4.90  4.900  4.9
      mon  0.000000  8.5  8.500  8.50  8.500  8.5
      sun       NaN  8.5  8.500  8.50  8.500  8.5
      thu       NaN  4.9  4.900  4.90  4.900  4.9
      tue       NaN  8.5  8.500  8.50  8.500  8.5
      wed       NaN  8.0  8.000  8.00  8.000  8.0
feb   fri  3.671103  0.9  2.700  3.10  8.000  9.4
      mon  2.381176  1.8  3.600  5.40  5.850  6.3
      sat  1.322876  0.9  1.575  2.25  3.025  4.0
      sun  0.984886  1.8  2.100  2.20  2.650  4.0
      thu       NaN  3.1  3.100  3.10  3.100  3.1
      tue  0.636396  5.4  5.625  5.85  6.075  6.3
      wed       NaN  3.1  3.100  3.10  3.100  3.1
jan   sat       NaN  3.1  3.100  3.10  3.100  3.1
      sun       NaN  0.9  0.900  0.90  0.900  0.9
jul   fri  3.404409  1.3  2.450  3.60  5.800  8.0
      mon  1.064581  2.7  3.000  3.80  4.600  4.9
...             ...  ...    ...   ...    ...  ...
      wed  1.973153  4.0  5.600  7.20  7.400  7.6
jun   fri  0.519615  4.5  4.500  4.50  4.950  5.4
      mon  0.709460  4.0  4.450  4.90  5.150  5.4
      sat  0.282843  2.7  2.800  2.90  3.000  3.1
      sun  1.415392  1.3  1.675  2.00  2.775  4.5
      thu  4.737615  2.7  4.375  6.05  7.725  9.4
      wed  0.230940  4.5  4.500  4.50  4.700  4.9
mar   fri  1.657874  4.0  4.500  5.80  6.500  9.4
      mon  1.542037  1.8  3.100  3.55  5.800  5.8
      sat  1.888827  0.9  4.900  4.90  5.400  8.5
      sun  1.584298  1.8  3.800  4.90  5.800  6.3
      thu  1.147606  3.1  3.600  4.50  5.400  5.8
      tue  2.503398  2.7  2.700  6.30  7.600  7.6
      wed  1.657307  4.0  5.050  5.60  6.350  8.0
may   fri       NaN  4.0  4.000  4.00  4.000  4.0
      sat       NaN  4.9  4.900  4.90  4.900  4.9
nov   tue       NaN  4.5  4.500  4.50  4.500  4.5
oct   fri       NaN  5.4  5.400  5.40  5.400  5.4
      mon  0.435890  4.0  4.000  4.25  4.600  4.9
      sat  1.374773  1.3  2.200  3.10  3.550  4.0
      sun  2.264950  0.9  1.800  2.70  4.050  5.4
      tue  2.545584  0.9  1.800  2.70  3.600  4.5
      wed  0.636396  2.7  2.925  3.15  3.375  3.6
sep   fri  1.334124  1.3  3.100  3.60  4.900  6.3
      mon  1.546065  1.3  2.200  2.45  3.600  7.6
      sat  1.278671  1.8  2.700  3.10  4.000  7.2
      sun  2.002755  1.3  2.200  3.60  5.400  7.6
      thu  1.785657  0.9  2.200  3.10  4.500  7.2
      tue  1.268443  2.2  2.450  3.10  4.050  6.3
      wed  1.303946  1.3  2.200  4.00  4.500  4.9

[64 rows x 88 columns]

In [54]:
#Dataframe grouping
#Group the data 'df' by 'month' and 'day' and find the mean value for column 'rain' and 'wind'.
df_by_month_day = df.groupby(['month', 'day'])
df_1 = df_by_month_day['rain', 'wind'].mean()
print(df_1.head(20))

               rain      wind
month day
apr   fri  0.000000  3.100000
      mon  0.000000  3.100000
      sat  0.000000  4.500000
      sun  0.000000  5.666667
      thu  0.000000  5.800000
      wed  0.000000  2.700000
aug   fri  0.066667  4.766667
      mon  0.000000  2.873333
      sat  0.000000  4.310345
      sun  0.025000  4.417500
      thu  0.000000  3.503846
      tue  0.300000  4.567857
      wed  0.000000  3.520000
dec   fri  0.000000  4.900000
      mon  0.000000  8.500000
      sun  0.000000  8.500000
      thu  0.000000  4.900000
      tue  0.000000  8.500000
      wed  0.000000  8.000000
feb   fri  0.000000  4.820000

# Lambda function & Pivot tables

In [63]:
df = pd.read_csv('https://query.data.world/s/vBDCsoHCytUSLKkLvq851k2b8JOCkF')
df.head()

   X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
2  7  4   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
3  8  6   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
4  8  6   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0

In [70]:
#create a function to be applied
def is_happening(x):
    return x > 0
#create new columns
df['is_raining'] = df['rain'].apply(is_happening)
df['is_wind'] = df['wind'].apply(is_happening)
df.head()

,X,Y,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,is_raining,is_wind
0,7,5,mar,fri,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,0.0,False,True
1,7,4,oct,tue,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,0.0,False,True
2,7,4,oct,sat,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,0.0,False,True
3,8,6,mar,fri,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,0.0,True,True
4,8,6,mar,sun,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,0.0,False,True

In [64]:
#lambda way of the above
df['is_raining'] = df['rain'].apply(lambda x: x > 0)
df['is_wind'] = df['wind'].apply(lambda x: x > 0)
df.head()

,X,Y,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,is_raining,is_wind
0,7,5,mar,fri,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,0.0,False,True
1,7,4,oct,tue,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,0.0,False,True
2,7,4,oct,sat,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,0.0,False,True
3,8,6,mar,fri,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,0.0,True,True
4,8,6,mar,sun,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,0.0,False,True

In [73]:
by_month = df.groupby('month')
by_month.is_raining.mean()

month
apr    0.000000
aug    0.032609
dec    0.000000
feb    0.000000
jan    0.000000
jul    0.031250
jun    0.000000
mar    0.018519
may    0.000000
nov    0.000000
oct    0.000000
sep    0.000000
Name: is_raining, dtype: float64

In [74]:
#Create a new column 'XY' which consist of values obtained from multiplying column 'X' and column 'Y'.
df = pd.read_csv('https://query.data.world/s/vBDCsoHCytUSLKkLvq851k2b8JOCkF')
df['XY'] = df['X'] * df['Y']
print(df.head(20))

    X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain  area  XY
0   7  5   mar  fri  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0   0.0  35
1   7  4   oct  tue  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0   0.0  28
2   7  4   oct  sat  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0   0.0  28
3   8  6   mar  fri  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.0  48
4   8  6   mar  sun  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0   0.0  48
5   8  6   aug  sun  92.3   85.3  488.0  14.7  22.2  29   5.4   0.0   0.0  48
6   8  6   aug  mon  92.3   88.9  495.6   8.5  24.1  27   3.1   0.0   0.0  48
7   8  6   aug  mon  91.5  145.4  608.2  10.7   8.0  86   2.2   0.0   0.0  48
8   8  6   sep  tue  91.0  129.5  692.6   7.0  13.1  63   5.4   0.0   0.0  48
9   7  5   sep  sat  92.5   88.0  698.6   7.1  22.8  40   4.0   0.0   0.0  35
10  7  5   sep  sat  92.5   88.0  698.6   7.1  17.8  51   7.2   0.0   0.0  35
11  7  5   sep  sat  92.8   73.2  713.0  22.6  19.3  38   4.0   0.0   0.0  35
12  6  5   aug  fri  63.5   70.8  665.3   0.8  17.0  72   6.7   0.0   0.0  30
13  6  5   sep  mon  90.9  126.5  686.5   7.0  21.3  42   2.2   0.0   0.0  30
14  6  5   sep  wed  92.9  133.3  699.6   9.2  26.4  21   4.5   0.0   0.0  30
15  6  5   sep  fri  93.3  141.2  713.9  13.9  22.9  44   5.4   0.0   0.0  30
16  5  5   mar  sat  91.7   35.8   80.8   7.8  15.1  27   5.4   0.0   0.0  25
17  8  5   oct  mon  84.9   32.8  664.2   3.0  16.7  47   4.9   0.0   0.0  40
18  6  4   mar  wed  89.2   27.9   70.8   6.3  15.9  35   4.0   0.0   0.0  24
19  6  4   apr  sat  86.3   27.4   97.1   5.1   9.3  44   4.5   0.0   0.0  24

# Pivot Tables

In [75]:
help(pd.DataFrame.pivot_table)

Help on function pivot_table in module pandas.core.frame:

pivot_table(self, values=None, index=None, columns=None, aggfunc='mean', fill_value=None, margins=False, dropna=True, margins_name='All')
    Create a spreadsheet-style pivot table as a DataFrame. The levels in
    the pivot table will be stored in MultiIndex objects (hierarchical
    indexes) on the index and columns of the result DataFrame

    Parameters
    ----------
    values : column to aggregate, optional
    index : column, Grouper, array, or list of the previous
        If an array is passed, it must be the same length as the data. The
        list can contain any of the other types (except list).
        Keys to group by on the pivot table index.  If an array is passed,
        it is being used as the same manner as column values.
    columns : column, Grouper, array, or list of the previous
        If an array is passed, it must be the same length as the data. The
        list can contain any of the other types (except list).
        Keys to group by on the pivot table column.  If an array is passed,
        it is being used as the same manner as column values.
    aggfunc : function, list of functions, dict, default numpy.mean
        If list of functions passed, the resulting pivot table will have
        hierarchical columns whose top level are the function names
        (inferred from the function objects themselves)
        If dict is passed, the key is column to aggregate and value
        is function or list of functions
    fill_value : scalar, default None
        Value to replace missing values with
    margins : boolean, default False
        Add all row / columns (e.g. for subtotal / grand totals)
    dropna : boolean, default True
        Do not include columns whose entries are all NaN
    margins_name : string, default 'All'
        Name of the row / column that will contain the totals
        when margins is True.

    Examples
    --------
    >>> df = pd.DataFrame({"A": ["foo", "foo", "foo", "foo", "foo",
    ...                          "bar", "bar", "bar", "bar"],
    ...                    "B": ["one", "one", "one", "two", "two",
    ...                          "one", "one", "two", "two"],
    ...                    "C": ["small", "large", "large", "small",
    ...                          "small", "large", "small", "small",
    ...                          "large"],
    ...                    "D": [1, 2, 2, 3, 3, 4, 5, 6, 7]})
    >>> df
         A    B      C  D
    0  foo  one  small  1
    1  foo  one  large  2
    2  foo  one  large  2
    3  foo  two  small  3
    4  foo  two  small  3
    5  bar  one  large  4
    6  bar  one  small  5
    7  bar  two  small  6
    8  bar  two  large  7

    >>> table = pivot_table(df, values='D', index=['A', 'B'],
    ...                     columns=['C'], aggfunc=np.sum)
    >>> table
    C        large  small
    A   B
    bar one    4.0    5.0
        two    7.0    6.0
    foo one    4.0    1.0
        two    NaN    6.0

    >>> table = pivot_table(df, values='D', index=['A', 'B'],
    ...                     columns=['C'], aggfunc=np.sum)
    >>> table
    C        large  small
    A   B
    bar one    4.0    5.0
        two    7.0    6.0
    foo one    4.0    1.0
        two    NaN    6.0

    >>> table = pivot_table(df, values=['D', 'E'], index=['A', 'C'],
    ...                     aggfunc={'D': np.mean,
    ...                              'E': [min, max, np.mean]})
    >>> table
                      D   E
                   mean max median min
    A   C
    bar large  5.500000  16   14.5  13
        small  5.500000  15   14.5  14
    foo large  2.000000  10    9.5   9
        small  2.333333  12   11.0   8

    Returns
    -------
    table : DataFrame

    See also
    --------
    DataFrame.pivot : pivot without aggregation that can handle
        non-numeric data

In [77]:
df.pivot_table(values='wind', index='month', aggfunc = 'sum')
df.pivot_table(values='wind', index='month', aggfunc = 'mean')

           wind
month
apr    4.666667
aug    4.086413
dec    7.644444
feb    3.755000
jan    2.000000
jul    3.734375
jun    4.135294
mar    4.968519
may    4.450000
nov    4.500000
oct    3.460000
sep    3.557558

In [83]:
#Group the data 'df' by 'month' and 'day' and find the mean value for column 'rain' and 'wind' using the pivot table command.
df = pd.read_csv('https://query.data.world/s/vBDCsoHCytUSLKkLvq851k2b8JOCkF')
df_1 = df.pivot_table(values=['rain', 'wind'], index=['month','day'], aggfunc = 'mean')
print(df_1.head(20))

               rain      wind
month day
apr   fri  0.000000  3.100000
      mon  0.000000  3.100000
      sat  0.000000  4.500000
      sun  0.000000  5.666667
      thu  0.000000  5.800000
      wed  0.000000  2.700000
aug   fri  0.066667  4.766667
      mon  0.000000  2.873333
      sat  0.000000  4.310345
      sun  0.025000  4.417500
      thu  0.000000  3.503846
      tue  0.300000  4.567857
      wed  0.000000  3.520000
dec   fri  0.000000  4.900000
      mon  0.000000  8.500000
      sun  0.000000  8.500000
      thu  0.000000  4.900000
      tue  0.000000  8.500000
      wed  0.000000  8.000000
feb   fri  0.000000  4.820000

In [90]:
df_1 = df.pivot_table(values=['rain','wind'], index='month', columns = 'day', aggfunc = 'mean')
df_1.head(20)

           rain                                           wind            \
day         fri  mon  sat    sun  thu  tue       wed       fri       mon
month
apr    0.000000  0.0  0.0  0.000  0.0  NaN  0.000000  3.100000  3.100000
aug    0.066667  0.0  0.0  0.025  0.0  0.3  0.000000  4.766667  2.873333
dec    0.000000  0.0  NaN  0.000  0.0  0.0  0.000000  4.900000  8.500000
feb    0.000000  0.0  0.0  0.000  0.0  0.0  0.000000  4.820000  4.500000
jan         NaN  NaN  0.0  0.000  NaN  NaN       NaN       NaN       NaN
jul    0.000000  0.0  0.0  0.000  0.0  0.0  0.066667  4.300000  3.800000
jun    0.000000  0.0  0.0  0.000  0.0  NaN  0.000000  4.800000  4.766667
mar    0.018182  0.0  0.0  0.000  0.0  0.0  0.000000  5.863636  4.083333
may    0.000000  NaN  0.0    NaN  NaN  NaN       NaN  4.000000       NaN
nov         NaN  NaN  NaN    NaN  NaN  0.0       NaN       NaN       NaN
oct    0.000000  0.0  0.0  0.000  NaN  0.0  0.000000  5.400000  4.350000
sep    0.000000  0.0  0.0  0.000  0.0  0.0  0.000000  3.910526  3.107143


day         sat       sun       thu       tue       wed
month
apr    4.500000  5.666667  5.800000       NaN  2.700000
aug    4.310345  4.417500  3.503846  4.567857  3.520000
dec         NaN  8.500000  4.900000  8.500000  8.000000
feb    2.350000  2.550000  3.100000  5.850000  3.100000
jan    3.100000  0.900000       NaN       NaN       NaN
jul    2.250000  4.120000  3.566667  3.883333  6.266667
jun    2.900000  2.450000  6.050000       NaN  4.633333
mar    5.010000  4.600000  4.480000  5.380000  5.800000
may    4.900000       NaN       NaN       NaN       NaN
nov         NaN       NaN       NaN  4.500000       NaN
oct    2.800000  3.000000       NaN  2.700000  3.150000
sep    3.460000  3.955556  3.357143  3.431579  3.378571